<% if false %>

    <% if !project.errors.empty? %>
        <div id="error_explanation">
          <h2> <%= pluralize(project.errors.count, "error") %>
            prohibited this project from being saved:</h2>

          <ul>
            <% project.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
<% end %>
<%= simple_form_for(project) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>

    <%= f.button :submit, class: "btn-primary" %>
<% end %>